<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530170957810-dd3iof095j67qhgsfe930n0a4vasqi7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530170957810-dd3iof095j67qhgsfe930n0a4vasqi7j</string>
	<key>API_KEY</key>
	<string>AIzaSyB-PvFe5-c9x30jkEG_yrJ9AFa856K6EAE</string>
	<key>GCM_SENDER_ID</key>
	<string>530170957810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportsTeamManagement</string>
	<key>PROJECT_ID</key>
	<string>sports-team-management-a244a</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-team-management-a244a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530170957810:ios:eb7d6cae847b8a8f5a256b</string>
	<key>DATABASE_URL</key>
	<string>https://sports-team-management-a244a.firebaseio.com</string>
</dict>
</plist>